.description {
  font-size: 2rem;
}
.container {
  width: 60%;
  margin-bottom: 3rem;
}
@media (max-width: 1167px) {
  .description {
    font-size: 1.7rem;
  }
  .container {
    width: 75%;
  }
}
@media (max-width: 968px) {
  .description {
    font-size: 1.5rem;
  }
}
@media (max-width: 674px) {
  .description {
    font-size: 1.3rem;
  }
}
@media (max-width: 450px) {
  .description {
    font-size: 1.1rem;
    text-align: left;
  }
  .container {
    width: 80%;
  }
}
@media (max-width: 350px) {
  .description {
    font-size: 1rem;
    text-align: center;
  }
}
