/* navBar.module.css */

/* Container for the nav bar */
.navContainer {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
  width: 100%;
}

/* Nav bar itself */
.nav {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Distribute space between logo and nav list */
  border: 1px solid;
  border-color: #e2e2e207;
  border-radius: 40px;
  margin-top: 3rem;
  width: 90%;
  position: sticky;
  top: 0;
  background-color: rgba(
    22,
    21,
    34,
    0.9
  ); /* Ensure background is opaque for better visibility */
  z-index: 1000; /* Ensure the nav stays on top */
  padding: 0 1rem; /* Add padding to avoid content touching the edges */
}

/* Logo styling */
.logo {
  border-radius: 30px;
}

/* Navigation list styling */
.navList {
  display: flex;
  justify-content: flex-end; /* Align list items to the right */
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  flex: 1; /* Allow nav list to take remaining space */
}

.listItem {
  list-style-type: none;
}

.link {
  color: white;
  font-size: 1.3rem;
  margin-right: 3rem;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.link:hover {
  text-decoration: underline;
}

/* Hamburger menu styling */
.hamburger {
  display: none; /* Hide by default */
  background: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Show hamburger menu only on mobile */
@media (max-width: 768px) {
  .navList {
    display: none; /* Hide nav list by default on mobile */
    flex-direction: column;
    width: 90%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(22, 21, 34, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  }

  .navList.showMenu {
    display: flex; /* Show menu when toggled */
  }

  .link {
    margin: 1rem;
    font-size: 1.5rem;
  }

  .hamburger {
    display: block; /* Show hamburger menu on mobile */
  }

  .listItem {
    margin: 1rem 0;
  }
}
