.heading {
  background: #cf59e6;
  background: linear-gradient(to right, #cf59e6 0%, #6bc5f8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  margin-bottom: 5rem;
}
@media (max-width: 1272px) {
  .container {
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
}
