.heading {
  background: #cf59e6;
  background: linear-gradient(to right, #cf59e6 0%, #6bc5f8 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 2.4rem;
  margin-bottom: 4rem;
  text-align: center;
}
.container {
  margin-bottom: 5rem;
}
@media (max-width: 1272px) {
  .container {
    margin-bottom: 3rem;
  }
}
@media (max-width: 420px) {
  .heading {
    font-size: 2.2rem;
  }
}
