.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #292929;
  border-radius: 30px;
  padding: 3rem;
  background-color: rgba(22, 21, 34, 0.3);
}
.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0;
}
.description {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 3rem;
  line-height: 1.6;
}
@media (max-width: 697px) {
  .description {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}
