.card {
  border: 1px solid #e2e2e207;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #161521;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 70rem;
  width: 90%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem;
  background-color: #161521;
}

.cardTitle {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.cardDescription {
  margin: 8px 0;
  font-size: 1rem;
  color: white;
}

.cardStack {
  font-size: 0.875rem;
  color: white;
  margin-bottom: 1rem;
}
