body {
  height: 100%;
  background: hsla(234, 25%, 8%, 1);

  background: linear-gradient(
    270deg,
    hsla(234, 25%, 8%, 1) 27%,
    hsla(278, 36%, 21%, 1) 88%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(234, 25%, 8%, 1) 27%,
    hsla(278, 36%, 21%, 1) 88%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(234, 25%, 8%, 1) 27%,
    hsla(278, 36%, 21%, 1) 88%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0f1019", endColorstr="#3b2249", GradientType=1 );

  font-family: "IBM Plex Mono", monospace;
  color: white;
  margin: 0;
  padding: 0;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
