.container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5rem;
  height: 100vh;
}
.message {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.link {
  text-decoration: underline;
  color: white;
}
@media (max-width: 674px) {
  .container {
    margin-top: 8rem;
    margin-bottom: 3rem;
  }
  .message {
    font-size: 1.3rem;
  }
}
