.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.wrapper {
  width: 75%;
}
@media (max-width: 968px) {
  .wrapper {
    width: 80%;
  }
  .container {
    margin-top: 4rem;
  }
}
@media (max-width: 674px) {
  .wrapper {
    width: 85%;
  }
  .container {
    margin-top: 3rem;
  }
}
